.venv
__pycache__
.pytest_cache

stream_frames
frames_from_tests

tests/*.png
tests/*.jpg
tests/*.MP4

tests/**/*.png
tests/**/*.jpg
tests/**/*.MP4

tests/**/**/*.png
tests/**/**/*.jpg
tests/**/**/*.MP4